.app-bloom{
  margin: 0;
  padding: 0;
  height: 200vh;
  background-color:#EFF5FF;
 
}

.app-bloom-content{
  padding: 105px;
  margin-top: 105px;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/